body
{
    background-color: #2d2d2d;
    font-family: "Alegreya Sans", "Palatino Linotype", sans-serif;
    color: #c4c4c4;
}

a
{
    /*font-style: "Palatino Linotype", "Alegreya Sans", sans-serif;*/
    color: #dbb840;
}
.contents
{
    /*flex-direction: row;*/
    display: flex;
    width: 80em;
    margin: 0 auto;
}

.post
{
    width: 60em;
    float: left;
    position: relative;
    background-color: #424242;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 10px;
    border-right: 10px;
}

.sidebar
{
    position: relative;
    float: right;
    width: 20em;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: #777;*/
}

.footer
{
    /*clear: both;*/
    display: block;
    margin: 0 auto;
    font-size: small;
    width: 80em;
    text-align: center;
}
