body
{
    background-color: #2d2d2d;
    font-family: "Alegreya Sans", "Palatino Linotype", sans-serif;
    color: #c4c4c4;
}

a
{
    color: #dbb840;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.contents
{
    flex-direction: row;
    display: flex;
    width: 80em;
    margin: 0 auto;
}

.posts
{
    flex-direction: column;
}

.post
{
    width: 60em;
    float: left;
    position: relative;
    background-color: #424242;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 10px;
    border-right: 10px;
}

.comments
{
    flex-direction: column;
}

.comment-data
{
    flex-direction: row;
}

.sidebar
{
    position: relative;
    float: right;
    width: 20em;
    padding-left: 10px;
    padding-right: 10px;
    /*background-color: #777;*/
}

.footer
{
    /*clear: both;*/
    display: block;
    margin: 0 auto;
    font-size: small;
    width: 80em;
    text-align: center;
}
